*{
    margin:0px;
    padding:0px;
}
h2{
    font-size:35px;
    color:blue;
    background-color:black;
    text-align:center;
    display:inline-block;
    padding:23px;
    border:2px solid red;
    position:center;
    margin-left:40%;
    margin-top:15px;
    margin-bottom:15px;
}
.div1{
    font-size:25px;
    width:60%;
    margin:auto;
    border:2px solid blue;
    padding:10px;
}
.div2{
    font-size:25px;
    width:60%;
    margin:auto;
    border:2px solid rgb(14, 131, 96);
    padding:10px;
}